<div class="col-12">
    <div class="row">
        <div class="col-6"><h1 data-bind="i18n: 'Material Items'" style="margin-bottom: 5px;text-align: left"></h1></div>
        <div class="col-6 text-right" data-bind="visible: window.warranty_sro.warranty().status() == 'INCOMP'">
            <button class="action primary material-btn"
                    data-bind="i18n: 'Add Material', event: {click: openMaterialPopup}"></button>
        </div>
    </div>
    <table class="data table transaction-table">
        <thead>
        <tr class="row">
            <th class="col-md-1" data-bind="i18n: 'Item'"></th>
            <th class="col-md-4" data-bind="i18n: 'Description'"></th>
            <th class="col-md-1" data-bind="i18n: 'Qty'"></th>
            <th class="col-md-1" data-bind="i18n: 'Price'"></th>
            <th class="col-md-1" data-bind="i18n: 'Total'"></th>
            <th class="col-md-3" data-bind="i18n: 'Note'"></th>
            <th class="col-md-1 text-center" data-bind="i18n: 'Actions'"></th>
        </tr>
        </thead>
        <!--ko if: materials().length > 0-->
        <tbody data-bind="foreach: {data: materials(), as: 'trans'}">
            <tr class="row">
                <td class="col-md-1" data-bind="text: trans.item"></td>
                <td class="col-md-4" data-bind="text: trans.description"></td>
                <td class="col-md-1" data-bind="text: trans.qty_conv"></td>
                <td class="col-md-1" data-bind="text: trans.price"></td>
                <td class="col-md-1" data-bind="text: trans.total"></td>
                <td class="col-md-3" data-bind="text: trans.note"></td>
                <td class="col-md-1 text-center action">
                    <p data-bind="visible: window.warranty_sro.warranty().status() == 'INCOMP'">
                        <a data-bind="attr: {title: $t('Edit')},event: {click: $parent.editMaterial.bind($parent)}">
                            <i class="fa fa-pencil"></i>
                        </a>
                        <a style="margin-left: 10px;" data-bind="attr: {title: $t('Remove')},event: {click: $parent.removeMaterial.bind($parent)}">
                            <i class="fa fa-close"></i>
                        </a>
                    </p>
                    <p data-bind="visible: window.warranty_sro.warranty().status() != 'INCOMP'">
                        Submitted
                    </p>
                </td>
            </tr>
        </tbody>
        <!--/ko-->
        <!--ko ifnot: materials().length > 0-->
        <tbody>
        <tr>
            <td colspan="7" data-bind="i18n: 'No Records Found'"></td>
        </tr>
        </tbody>
        <!--/ko-->
    </table>
</div>
