<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
	<acl>
		<resources>
			<resource id="Magento_Backend::admin">
				<resource id="Variux_Warranty::Warranty" title="Warranty" sortOrder="10">
					<resource id="Variux_Warranty::Warranty_save" title="Save Warranty" sortOrder="10"/>
					<resource id="Variux_Warranty::Warranty_delete" title="Delete Warranty" sortOrder="20"/>
					<resource id="Variux_Warranty::Warranty_update" title="Update Warranty" sortOrder="30"/>
					<resource id="Variux_Warranty::Warranty_view" title="View Warranty" sortOrder="40"/>
				</resource>
				<resource id="Variux_Warranty::Sro" title="Sro" sortOrder="10">
					<resource id="Variux_Warranty::Sro_save" title="Save Sro" sortOrder="10"/>
					<resource id="Variux_Warranty::Sro_delete" title="Delete Sro" sortOrder="20"/>
					<resource id="Variux_Warranty::Sro_update" title="Update Sro" sortOrder="30"/>
					<resource id="Variux_Warranty::Sro_view" title="View Sro" sortOrder="40"/>
				</resource>
				<resource id="Variux_Warranty::SroLabor" title="SroLabor" sortOrder="10">
					<resource id="Variux_Warranty::SroLabor_save" title="Save SroLabor" sortOrder="10"/>
					<resource id="Variux_Warranty::SroLabor_delete" title="Delete SroLabor" sortOrder="20"/>
					<resource id="Variux_Warranty::SroLabor_update" title="Update SroLabor" sortOrder="30"/>
					<resource id="Variux_Warranty::SroLabor_view" title="View SroLabor" sortOrder="40"/>
				</resource>
				<resource id="Variux_Warranty::SroDocument" title="SroDocument" sortOrder="10">
					<resource id="Variux_Warranty::SroDocument_save" title="Save SroDocument" sortOrder="10"/>
					<resource id="Variux_Warranty::SroDocument_delete" title="Delete SroDocument" sortOrder="20"/>
					<resource id="Variux_Warranty::SroDocument_update" title="Update SroDocument" sortOrder="30"/>
					<resource id="Variux_Warranty::SroDocument_view" title="View SroDocument" sortOrder="40"/>
				</resource>
				<resource id="Variux_Warranty::SroMaterial" title="SroMaterial" sortOrder="10">
					<resource id="Variux_Warranty::SroMaterial_save" title="Save SroMaterial" sortOrder="10"/>
					<resource id="Variux_Warranty::SroMaterial_delete" title="Delete SroMaterial" sortOrder="20"/>
					<resource id="Variux_Warranty::SroMaterial_update" title="Update SroMaterial" sortOrder="30"/>
					<resource id="Variux_Warranty::SroMaterial_view" title="View SroMaterial" sortOrder="40"/>
				</resource>
				<resource id="Variux_Warranty::SroMisc" title="SroMisc" sortOrder="10">
					<resource id="Variux_Warranty::SroMisc_save" title="Save SroMisc" sortOrder="10"/>
					<resource id="Variux_Warranty::SroMisc_delete" title="Delete SroMisc" sortOrder="20"/>
					<resource id="Variux_Warranty::SroMisc_update" title="Update SroMisc" sortOrder="30"/>
					<resource id="Variux_Warranty::SroMisc_view" title="View SroMisc" sortOrder="40"/>
				</resource>
				<resource id="Variux_Warranty::Workcode" title="Workcode" sortOrder="10">
					<resource id="Variux_Warranty::Workcode_save" title="Save Workcode" sortOrder="10"/>
					<resource id="Variux_Warranty::Workcode_delete" title="Delete Workcode" sortOrder="20"/>
					<resource id="Variux_Warranty::Workcode_update" title="Update Workcode" sortOrder="30"/>
					<resource id="Variux_Warranty::Workcode_view" title="View Workcode" sortOrder="40"/>
				</resource>
				<resource id="Variux_Warranty::Unit" title="Unit" sortOrder="10">
					<resource id="Variux_Warranty::Unit_save" title="Save Unit" sortOrder="10"/>
					<resource id="Variux_Warranty::Unit_delete" title="Delete Unit" sortOrder="20"/>
					<resource id="Variux_Warranty::Unit_update" title="Update Unit" sortOrder="30"/>
					<resource id="Variux_Warranty::Unit_view" title="View Unit" sortOrder="40"/>
				</resource>
			</resource>
		</resources>
	</acl>
</config>
