<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <warranty_settings>
            <general>
                <enabled_notification>1</enabled_notification>
            </general>
            <email>
                <identity>general</identity>
                <claim_status_update_template>warranty_settings_email_claim_status_update_template</claim_status_update_template>
            </email>
        </warranty_settings>
    </default>
</config>
