<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <warranty_settings>
            <general>
                <enabled_notification>0</enabled_notification>
            </general>
        </warranty_settings>
    </default>
</config>
