<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="variux_unit_save_before">
        <observer name="variux_warranty_observer_variux_unit_save_before" instance="Variux\Warranty\Observer\Variux\UnitBeforeSave"/>
    </event>
    <event name="variux_warranty_save_before">
        <observer name="variux_warranty_observer_variux_warranty_save_before" instance="Variux\Warranty\Observer\Variux\WarrantySaveBefore"/>
    </event>
</config>
