<form action="#" data-bind="afterRender: makeDatePicker">
    <fieldset class="fieldset">
        <div class="field required">
            <label class="label">
                <span data-bind="i18n: 'Service Order'"></span>
            </label>
            <div class="control">
                <span data-bind="text: sroNumber()"></span>
            </div>
        </div>
    </fieldset>
    <fieldset class="fieldset">
        <div class="field">
            <label class="label">
                <span data-bind="i18n: 'Description'"></span>
            </label>
            <div class="control">
                <input hidden data-bind="value: miscFormData().misc_code" name="misc_code" type="text" class="input-text">
                <input readonly data-bind="value: miscFormData().description" name="description" type="text" class="input-text">
            </div>
        </div>

        <div class="field">
            <label class="label">
                <span data-bind="i18n: 'Amount'"></span>
            </label>
            <div class="control">
                <input data-bind="value: miscFormData().amount" data-validate="{'required':true, 'pattern':/^((\d+)|\d{1,3}(\,?\d{3})*)(\.\d{1,2})?$/}" name="amount" value="0" type="text" class="input-text">
            </div>
        </div>

        <div class="field">
            <label class="label">
                <span data-bind="i18n: 'Note'"></span>
            </label>
            <div class="control">
                <textarea data-bind="value: miscFormData().note" name="note" type="text" class="input-text"></textarea>
                <span data-bind="i18n: 'Please attach a receipt document to the Service Order after submission'"></span>
            </div>
        </div>
    </fieldset>
</form>
