<form action="#" data-bind="afterRender: makeDatePicker">
    <fieldset class="fieldset">
        <div class="field required">
            <label class="label">
                <span data-bind="i18n: 'Service Order'"></span>
            </label>
            <div class="control">
                <span data-bind="text: sroNumber()"></span>
                <input type="hidden" name="item_id" data-bind="value: laborFormData().item_id" data-validate="{required: true}" class="input-text">
            </div>
        </div>
    </fieldset>
    <fieldset class="fieldset">
        <div class="field">
            <label class="label" for="work_code">
                <span data-bind="i18n: 'Work Code'"></span>
            </label>
            <div class="control">
                <input data-bind="value: laborFormData().work_code,
                                    autosuggest: {config: window.WarrantyModule.workcodeSuggestConfig, callback: workcodeSuggestSelect}" data-validate="{required: true}" id="work_code" name="work_code" type="text" class="input-text">
            </div>
        </div>

        <div class="field">
            <label class="label" for="description">
                <span data-bind="i18n: 'Description'"></span>
            </label>
            <div class="control">
                <input data-bind="value: laborFormData().description,enable:workCodeIsMCBind" name="description" id="description" data-validate="{required: true}" type="text" class="input-text validate-length maximum-length-40">
            </div>
        </div>

        <div class="field" data-bind="">
            <label class="label" for="hour_worked">
                <span data-bind="i18n: 'Hours'"></span>
            </label>
            <div class="control">
                <input data-bind="value: laborFormData().hour_worked,enable:workCodeIsMCBind" data-validate="{'required': window.warranty_sro.workCodeIsMC, 'pattern':/^((\d+)|\d{1,3}(\,?\d{3})*)(\.\d{1,2})?$/}" name="hour_worked" id="hour_worked" value="0" type="text" class="input-text">
            </div>
        </div>

        <div class="field" data-bind="">
            <label class="label" for="hourly_rate">
                <span data-bind="i18n: 'Hourly Labor Rate'"></span>
            </label>
            <div class="control">
                <input data-bind="value: '$' + window.WarrantyModule.labor_rate" name="hourly_rate" id="hourly_rate" disabled value="0" type="text" class="input-text">
            </div>
        </div>

        <div class="field">
            <label class="label" for="note">
                <span data-bind="i18n: 'Note'"></span>
            </label>
            <div class="control">
                <textarea data-bind="value: laborFormData().note" data-validate="{'required': window.warranty_sro.workCodeIsMC}" name="note" id="note" type="text" class="input-text"></textarea>
            </div>
        </div>
    </fieldset>
</form>
