<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Variux_Warranty::top_level" title="Variux Warranty" module="Variux_Warranty" sortOrder="999"
             resource="Variux_Warranty::top_level" parent="Variux_Base::top_level"/>
        <!--Warranty-->
        <add id="Variux_Warranty::warranty_management" title="Warranty Management" module="Variux_Warranty"
             sortOrder="100" parent="Variux_Warranty::top_level" resource="Variux_Warranty::warranty_management"/>
        <add id="Variux_Warranty::variux_warranty_warranty" title="Warranties" module="Variux_Warranty" sortOrder="10"
             resource="Magento_Backend::content" parent="Variux_Warranty::warranty_management"
             action="variux_warranty/warranty/index"/>
        <add id="Variux_Warranty::variux_warranty_status" title="Warranty Status" module="Variux_Warranty" sortOrder="15"
             resource="Magento_Backend::content" parent="Variux_Warranty::warranty_management" action="variux_warranty/status/index"/>
        <add id="Variux_Warranty::variux_warranty_sro" title="Sro" module="Variux_Warranty" sortOrder="20"
             resource="Magento_Backend::content" parent="Variux_Warranty::warranty_management"
             action="variux_warranty/sro/index"/>
        <add id="Variux_Warranty::variux_warranty_srolabor" title="Sro Labor" module="Variux_Warranty" sortOrder="30"
             resource="Magento_Backend::content" parent="Variux_Warranty::warranty_management"
             action="variux_warranty/srolabor/index"/>
        <add id="Variux_Warranty::variux_warranty_srodocument" title="Sro Document" module="Variux_Warranty"
             sortOrder="40" resource="Magento_Backend::content" parent="Variux_Warranty::warranty_management"
             action="variux_warranty/srodocument/index"/>
        <add id="Variux_Warranty::variux_warranty_sromaterial" title="Sro Material" module="Variux_Warranty"
             sortOrder="50" resource="Magento_Backend::content" parent="Variux_Warranty::warranty_management"
             action="variux_warranty/sromaterial/index"/>
        <add id="Variux_Warranty::variux_warranty_sromisc" title="Sro Misc" module="Variux_Warranty" sortOrder="60"
             resource="Magento_Backend::content" parent="Variux_Warranty::warranty_management"
             action="variux_warranty/sromisc/index"/>
        <!--Warranty-->

        <add id="Variux_Warranty::variux_warranty_workcode" title="Work Codes" module="Variux_Warranty" sortOrder="9999"
             resource="Magento_Backend::content" parent="Variux_Warranty::top_level"
             action="variux_warranty/workCode/index"/>
        <add id="Variux_Warranty::warranty_unit" title="Units" module="Variux_Warranty" sortOrder="30"
             parent="Variux_Warranty::top_level" resource="Variux_Warranty::warranty_unit"/>
        <add id="Variux_Warranty::variux_warranty_unit" title="Unit" module="Variux_Warranty" sortOrder="9999"
             resource="Magento_Backend::content" parent="Variux_Warranty::warranty_unit"
             action="variux_warranty/unit/index"/>
        <add id="Variux_Warranty::variux_warranty_unitreg" title="Unit Registration" module="Variux_Warranty"
             sortOrder="9999" resource="Magento_Backend::content" parent="Variux_Warranty::top_level"
             action="variux_warranty/unitreg/index"/>
        <add id="Variux_Warranty::variux_warranty_warrantytransfer" title="Warranty Transfer" module="Variux_Warranty"
             sortOrder="9999" resource="Magento_Backend::content" parent="Variux_Warranty::top_level"
             action="variux_warranty/warrantytransfer/index"/>
        <add id="Variux_Warranty::variux_warranty_partner" title="Partner" module="Variux_Warranty" sortOrder="9999"
             resource="Magento_Backend::content" parent="Variux_Warranty::top_level"
             action="variux_warranty/partner/index"/>
    </menu>
</config>
