<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="warranty_settings" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="5" translate="label">
            <label>Warranty Management Settings</label>
            <tab>variux</tab>
            <resource>Variux_Warranty::config_variux_email_warranty_management</resource>
            <group id="general" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="enabled_notification" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Email Warranty Notification</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Enable the Warranty Notification.]]>
                    </comment>
                </field>
            </group>
            <group id="email" showInDefault="1" showInStore="0" showInWebsite="0" sortOrder="20" translate="label">
                <label>Email Configurations</label>
                <field id="identity" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Email Sender</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Identity</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
