.searchautosuggest__autosuggest {
    display: none !important;
    border: 1px solid #C2C2C2;
    position: absolute;
    top: 3.1rem;
    left: 0;
    box-sizing: border-box;
    background: #fff;
    border-radius: 0 0 1px 1px;
    min-height: 3.5rem;
    z-index: 1000;
    text-align: left;
}

.searchautosuggest__autosuggest._active {
    display: block !important;
}

.searchautosuggest__autosuggest .searchautosuggest__close {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    font-weight: bold;
    color: #999;
    font-size: 1.6rem;
    padding: 1rem;
    line-height: 1rem;
    cursor: pointer;
}

.searchautosuggest__autosuggest .searchautosuggest__index-title {
    background: #efefef;
    padding: 8px 10px;
    text-align: left;
    font-size: 1.2rem;
    line-height: 1.2rem;
    color: #999999;
    text-transform: uppercase;
    font-weight: 700;
}

.searchautosuggest__autosuggest ul {
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 300px;
    overflow: auto;
}

.searchautosuggest__autosuggest ul li{
    /*margin: 0 1rem;*/
    padding: 1rem 1rem;
    cursor: pointer;
}

.searchautosuggest__autosuggest ul li._active{
    background-color: #0a6c9f;
    color: white;
}

.searchautosuggest__autosuggest .searchautosuggest__empty-result {
    /*background: #efefef;*/
    text-align: center;
    padding: 8px 10px;
    color: #999;
    font-size: 1.2rem;
    display: block;
}

.searchautosuggest__spinner {
    position: relative;
    width: 186px;
    height: 20px;
    margin: auto;
}

.searchautosuggest__autosuggest .searchautosuggest__spinner {
    display: none;
    position: absolute;
    top: 5px;
    left: 50%;
    margin-left: -90px;
}

@keyframes bounce_fountainG {
    0% {
        transform: scale(1);
        background-color: #D8D8D8;
    }

    100% {
        transform: scale(.3);
        background-color: #D8D8D8;
    }
}

@-o-keyframes bounce_fountainG {
    0% {
        -o-transform: scale(1);
        background-color: #D8D8D8;
    }

    100% {
        -o-transform: scale(.3);
        background-color: #D8D8D8;
    }
}

@-ms-keyframes bounce_fountainG {
    0% {
        -ms-transform: scale(1);
        background-color: #D8D8D8;
    }

    100% {
        -ms-transform: scale(.3);
        background-color: #D8D8D8;
    }
}

@-webkit-keyframes bounce_fountainG {
    0% {
        -webkit-transform: scale(1);
        background-color: #D8D8D8;
    }

    100% {
        -webkit-transform: scale(.3);
        background-color: #D8D8D8;
    }
}

@-moz-keyframes bounce_fountainG {
    0% {
        -moz-transform: scale(1);
        background-color: #D8D8D8;
    }

    100% {
        -moz-transform: scale(.3);
        background-color: #D8D8D8;
    }
}

.searchautosuggest__spinner .spinner-item {
    position: absolute;
    top: 0;
    background-color: #d8d8d8;
    width: 20px;
    height: 20px;
    animation-name: bounce_fountainG;
    animation-duration: 0.645s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    transform: scale(0.3);
    border-radius: 15px;
}

.searchautosuggest__spinner .spinner-item.spinner-item-1 {
    left: 0;
    animation-delay: 0.256s;
}

.searchautosuggest__spinner .spinner-item.spinner-item-2 {
    left: 20px;
    animation-delay: 0.3225s;
}

.searchautosuggest__spinner .spinner-item.spinner-item-3 {
    left: 40px;
    animation-delay: 0.389s;
}

.searchautosuggest__spinner .spinner-item.spinner-item-4 {
    left: 60px;
    animation-delay: 0.4555s;
}

.searchautosuggest__spinner .spinner-item.spinner-item-5 {
    left: 80px;
    animation-delay: 0.522s;
}

.searchautosuggest__spinner .spinner-item.spinner-item-6 {
    left: 100px;
    animation-delay: 0.5885s;
}

.searchautosuggest__spinner .spinner-item.spinner-item-7 {
    left: 120px;
    animation-delay: 0.645s;
}

.searchautosuggest__spinner .spinner-item.spinner-item-8 {
    left: 140px;
    animation-delay: 0.7115s;
}

@media screen and (min-width: 768px) {
    
}